<h1>Login</h1>

<% if(messages.error){ %>
  <%= messages.error %>
<% } %>
<!-- Make a page for register -->
<form action="/login" method="POST">
  <div>
    <label for="name">Email</label>
    <input type="email" name="email" id="email" required >
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required >
  </div>
  <button type="submit" name="submit">Login</button>
</form>

<a href="/register">Register</a>
